<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.projectbukirin.palaylab">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.github.projectbukirin.palaylab.HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.github.projectbukirin.palaylab.LoginActivity" />
        <activity android:name="io.github.projectbukirin.palaylab.SignupActivity" />
        <activity android:name="io.github.projectbukirin.palaylab.ForgotPasswordActivity" />
        <activity
            android:name="io.github.projectbukirin.palaylab.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="io.github.projectbukirin.palaylab.UpdatePassword"></activity>
        <activity android:name="io.github.projectbukirin.palaylab.Diseases" />
        <activity android:name="io.github.projectbukirin.palaylab.Pest" />
        <activity android:name="io.github.projectbukirin.palaylab.Results" />
        <activity android:name="io.github.projectbukirin.palaylab.Statistics" />
        <activity android:name="io.github.projectbukirin.palaylab.DiseasesDefinition" />
        <activity android:name="io.github.projectbukirin.palaylab.DiseasesDefinition$DiseaseDefinition2" />
        <activity android:name="io.github.projectbukirin.palaylab.DiseasesDefinition$DiseaseDefinition3" />
        <activity android:name="io.github.projectbukirin.palaylab.DiseasesDefinition$DiseaseDefinition4" />
        <activity android:name="io.github.projectbukirin.palaylab.PestsDefinition" />
        <activity android:name="io.github.projectbukirin.palaylab.PestsDefinition$PestDefinition2" />
        <activity android:name="io.github.projectbukirin.palaylab.PestsDefinition$PestDefinition3" />
        <activity android:name="io.github.projectbukirin.palaylab.PestsDefinition$PestDefinition4" />
        <activity android:name="io.github.projectbukirin.palaylab.PestsDefinition$PestDefinition5"></activity>
        <activity android:name="io.github.projectbukirin.palaylab.About"></activity>
    </application>

</manifest>